body{
    background: white;
}

.signin{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    }

.image{
    margin: 40px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.box{
    width: 400px;
    margin-top: 20px;
    padding: 20px 40px 20px 30px;
    border: 2px dotted lightgray;
    border-radius: 3px;
    background-color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    }

#text{
    width: 100%;
    height: 30px;
}

#email{
    width: 100%;
    height: 30px;
}

#button1{
    border-color: lightgray;
    background-color: #ffae00;
    height: 30px;
    width: 100%;
}

h3{
    margin: 20px;     
}

#button2{
    margin: -10px;
    height: 30px;
    border-color: lightgray;
    border-radius: 2px;
    background-color: lightgray;
    width: 400px;
}

footer ul{
    list-style-type: none;
    margin: 0;
}

footer li{
    display: inline;
    margin: 10px;
}

a:link{
    text-decoration: none;
}

footer{
    margin-top: 50px;
    margin-bottom: -30px;
    padding: 35px;
    height: 10px;
    border: 0px;
    box-shadow:inset 0 6px 6px -6px rgb(58, 56, 56);
}

.copyright{
    margin: 20px;
    text-align: center;
}