body{
    background: white;
}

.signin{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    }

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.box{
    width: 400px;
    margin-top: 10px;
    padding: 20px 20px 20px 20px;
    
    background-color: grey;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    }
