body{
    background: white;
}

.signin{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    }

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.box{
    width: 400px;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;
    border: 2px dotted lightgray;
    background-color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    }

#text{
    width: 100%;
}

#email{
    width: 100%;
}

#button1{
    border-color: lightgray;
    background-color: #ffae00;
    width: 100%;
}

#button2{
    margin: 20px;
    border-color: lightgray;
    border-radius: 2px;
    background-color: lightgray;
    width: 400px;
}